---
const pageTitle = "My Astro Site"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/practice-astro/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}!</title>
	</head>
	<body>
		<a href="/practice-astro">ホーム</a>
        <a href="/practice-astro/about/">概要</a>
        <a href="/practice-astro/blog/">ブログ</a>

		<h1>{pageTitle}</h1>
	</body>
</html>
